@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap');

* {
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    line-height: 1.5em;
}


.main_container {
    font-family: 'Lato', sans-serif;
    font-weight: 200;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    margin: 100px auto;
    position: relative;
    width: 70%;
    height: 70%;
}

#header, #navigationDiv {
    padding: 10px;
    margin: 0px;
    display: inline-flex;
    border-bottom: 1px solid #d3d3d3;
    width: 100%;
}   

img {
    padding: 5px 5px;
    margin-right: 10px;
    border: 1px solid #d3d3d3;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    
}

#logo_name {
    position: absolute;
    left: 80px;
    margin-left: 15px;
    margin: 20px 0px;
    font-size: 18px;
    text-align: center;
    font-size: 18px;
    text-decoration: none;
}

#calendar {
    position: absolute;
    right: 0;
    margin: 10px 30px;
    padding: 5px 40px;
    text-align: right;
}


.status {
    display: inline;
    text-align: center;
}

#board_container  div {
    border: 1px solid #d3d3d3;
    padding: 5px 20px;
    display: inline-flex;
    margin: 0px 5px;
    text-transform: uppercase;
}

.table {
    width: 100%;
    text-align: center;
}

td, th{
    border-bottom: 1px solid #d3d3d3;
}

#navigatorDiv {
   border: 0px; 
   padding: 10px 0px;
}

#next-page-selector {
    padding: 5px 10px;
    position: absolute;
    right: 10px;
    bottom: 5px;
    border: 1px solid #d3d3d3;
    border-top-left-radius: 5px;
}

#previous-page-selector {
    border-right: 1px solid #d3d3d3;
    position: absolute;
    right: 0;
}

#page-selector {
    position: absolute;
    right: 30px;
    border: 1px solid #d3d3d3;
    padding: 0px 5px;
    text-emphasis: none;
    
    text-transform: uppercase;
}
