@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap');

* {
    padding: 0px;
    margin: 0px;
    /* overflow: hidden;
    line-height: 1.5em; */
}


.main-container {
    font-family: 'Lato', sans-serif;
    font-weight: 200;
    border: 1px solid #d3d3d3;
    border-radius: 4px;
    margin: 100px auto;
    position: relative;
    width: 70%;
    height: 70%;
}

.header {
    padding: 10px;
    margin: 0px;
    display: inline-flex;
    width: 100%;
}   

img {
    padding: 5px 5px;
    margin-right: 10px;
    border: 1px solid #d3d3d3;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    
}

#logo-name {
    position: absolute;
    left: 80px;
    margin-left: 15px;
    margin: 20px 0px;
    font-size: 18px;
    text-align: center;
    font-size: 18px;
    text-decoration: none;
}

.datepicker-btn {
    display: flex;
    align-items: center;
    /* margin: 10px 20px; */
    border: 1px solid #d3d3d3; 
    padding: 4px 4px;
    text-decoration: none;
}

.status {
    display: inline;
    text-align: center;
}

.progress-bar {
    border-top: 1px solid #d3d3d3; 
    padding: 30px;
}

#board-container .board-container-item {
    border: 1px solid #d3d3d3;
    padding: 10px 10px;
    display: inline-flex;
    margin: 15px 5px;
    text-transform: uppercase;
    text-decoration-color: lightgrey;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
}


#item-score {
    font-weight: bold;
    padding: 0px 0px 0px 40px;
}

.table {
    width: 100%;
    text-align: center;
}

td, th{
    border-bottom: 1px solid #d3d3d3;
}


.navigation-div {
    /* margin: 20px 20px; */
    margin: 10px 20px;
    padding: 10px 40px;
    display: inline-flex;
}

.page-selector {
    display: inline-flex;
    border: 1px solid #d3d3d3;
    position: absolute;
    right: 20px;
    padding: 0px 20px 0px 20px;
    margin: auto;
}

#prev {
   border;
}
